### MAVEN gradle ###
target/
mvnw
mvnw.cmd
.mvn/
/.gradle/
/gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Build Artifacts
.gradle/
build/
target/
bin/

### eclipse ###
.metadata/
.settings/
.project
.classpath



### Package Files ###
*.jar
*.war
*.ear


### other ###
#jrebel
rebel.xml
