<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.www.skeleton.repository.mapper.user.PermsRoleMapper" >
        <resultMap id="BaseResultMap" type="com.www.skeleton.repository.po.user.PermsRole" >

        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="pid" property="pid" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
     id,
          pid,
          name,
          description,
          update_time,
          create_time     
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.www.skeleton.repository.po.user.PermsRoleExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
            from perms_role
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from perms_role
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from perms_role
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.www.skeleton.repository.po.user.PermsRoleExample" >
        delete from perms_role
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
                     <insert id="insert" parameterType="com.www.skeleton.repository.po.user.PermsRole" useGeneratedKeys="true" keyProperty="id" >
           insert into perms_role (
                          pid,
                                     name,
                                     description,
                                     update_time,
                                     create_time           )

           values (
                          #{pid,jdbcType=BIGINT},
                                     #{name,jdbcType=VARCHAR},
                                     #{description,jdbcType=VARCHAR},
                                     #{updateTime,jdbcType=TIMESTAMP},
                                     #{createTime,jdbcType=TIMESTAMP}                      )
       </insert>
       <insert id="insertSelective" parameterType="com.www.skeleton.repository.po.user.PermsRole" useGeneratedKeys="true" keyProperty="id" >
           insert into perms_role
           <trim prefix="(" suffix=")" suffixOverrides="," >
                                  <if test="pid != null" >
                       pid,
                   </if>
                                  <if test="name != null" >
                       name,
                   </if>
                                  <if test="description != null" >
                       description,
                   </if>
                                  <if test="updateTime != null" >
                       update_time,
                   </if>
                                  <if test="createTime != null" >
                       create_time,
                   </if>
                          </trim>
           <trim prefix="values (" suffix=")" suffixOverrides="," >
                                  <if test="pid != null" >
                       #{pid,jdbcType=BIGINT},
                   </if>
                                  <if test="name != null" >
                       #{name,jdbcType=VARCHAR},
                   </if>
                                  <if test="description != null" >
                       #{description,jdbcType=VARCHAR},
                   </if>
                                  <if test="updateTime != null" >
                       #{updateTime,jdbcType=TIMESTAMP},
                   </if>
                                  <if test="createTime != null" >
                       #{createTime,jdbcType=TIMESTAMP},
                   </if>
                          </trim>

       </insert>

       <insert id="insertBatch" parameterType="java.util.List" >
           insert into perms_role (
                          pid,
                                     name,
                                     description,
                                     update_time,
                                     create_time                      )
           values
           <foreach collection="list" item="item" index="index" separator="," >
               (
                                  #{item.pid,jdbcType=BIGINT},
                                                 #{item.name,jdbcType=VARCHAR},
                                                 #{item.description,jdbcType=VARCHAR},
                                                 #{item.updateTime,jdbcType=TIMESTAMP},
                                                 #{item.createTime,jdbcType=TIMESTAMP}               
               )
           </foreach>
       </insert>
   
    <select id="countByExample" parameterType="com.www.skeleton.repository.po.user.PermsRoleExample" resultType="java.lang.Integer" >
        select count(*) from perms_role
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <select id="countGroupByExample" parameterType="Map" resultType="Map" >
        select
        <foreach collection="groupByFields" item="item" index="index" separator="," >
            ${item}
        </foreach>
        ,
        <foreach collection="sumFields" item="item" index="index" separator="," >
            count(${item}) as ${item}
        </foreach>
        from perms_role
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
        group by
        <foreach collection="groupByFields" item="item" index="index" separator="," >
            ${item}
        </foreach>
    </select>



    <select id="sumByExample" parameterType="Map" resultType="Map" >
        select
        <foreach collection="groupByFields" item="item" index="index" separator="," >
            ${item}
        </foreach>
        ,
        <foreach collection="sumFields" item="item" index="index" separator="," >
            sum(${item}) as ${item}
        </foreach>
        from perms_role
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
        group by
        <foreach collection="groupByFields" item="item" index="index" separator="," >
            ${item}
        </foreach>
    </select>


    <update id="updateByExampleSelective" parameterType="map" >
        update perms_role
        <set >
        <if test="record.id != null" >
            id = #{record.id,jdbcType=BIGINT},
        </if>
        <if test="record.pid != null" >
            pid = #{record.pid,jdbcType=BIGINT},
        </if>
        <if test="record.name != null" >
            name = #{record.name,jdbcType=VARCHAR},
        </if>
        <if test="record.description != null" >
            description = #{record.description,jdbcType=VARCHAR},
        </if>
        <if test="record.updateTime != null" >
            update_time = #{record.updateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="record.createTime != null" >
            create_time = #{record.createTime,jdbcType=TIMESTAMP},
        </if>
                </set>
<if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update perms_role
        set         id = #{record.id,jdbcType=BIGINT},
                    pid = #{record.pid,jdbcType=BIGINT},
                    name = #{record.name,jdbcType=VARCHAR},
                    description = #{record.description,jdbcType=VARCHAR},
                    update_time = #{record.updateTime,jdbcType=TIMESTAMP},
                    create_time = #{record.createTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.www.skeleton.repository.po.user.PermsRole" >
        update perms_role
        <set >
                        <if test="pid != null" >
                pid = #{pid,jdbcType=BIGINT},
              </if>             <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
              </if>             <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
              </if>             <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
              </if>             <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP}  </if>     </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.www.skeleton.repository.po.user.PermsRole" >
        update perms_role
        set
                pid = #{pid,jdbcType=BIGINT},
                name = #{name,jdbcType=VARCHAR},
                description = #{description,jdbcType=VARCHAR},
                update_time = #{updateTime,jdbcType=TIMESTAMP},
                create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <resultMap id="permsRoleDTOResult" type="com.www.skeleton.repository.po.user.PermsRoleDTO" extends="BaseResultMap">
        <collection property="permsResources"
                    resultMap="com.www.skeleton.repository.mapper.user.PermsResourceMapper.BaseResultMap"
                    columnPrefix="perms_resource_">
        </collection>
    </resultMap>
</mapper>